/* styles.css */

body {
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain; 
    font-family: 'Circular Std Book', sans-serif;
}


.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.title {
    position: absolute;
    bottom: 35px;
    right: 30px;
    font-family: 'Circular Std Book', sans-serif;
    color: white;
    font-size: 60px;
}

.name {
    font-family: 'Gotham Rounded', sans-serif;
    color: white;
    font-size: 24px;
}
.secondary-background {
    background-color: #1e1e1e; 
    color: white; 
    padding: 20px;
    box-sizing: border-box;
    position: relative; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.video-carousel {
    position: relative;
    display: flex;
    align-items: center;
}

.arrow {
    width: 40px;
    height: 40px;
    background-size: cover;
    cursor: pointer;
    z-index: 1;
}

.left-arrow {
    background-image: url('arrow-left.png'); /* Replace 'arrow-left.png' with your left arrow image */
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.right-arrow {
    background-image: url('arrow-right.png'); /* Replace 'arrow-right.png' with your right arrow image */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

